@using static RestApi.Models.Person
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewBag.Title = "Ajouter un patient";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RestApi.Models.Patient

<form class="form col-md-5" asp-controller="Patient" asp-action="Add">
	<div class="form-group">
		<label for="Nom" asp-for="FirstName">Nom</label>
		<input type="text" asp-for="FirstName" id="Nom" class="form-control" placeholder="Nom" />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="Prénom" asp-for="LastName">Prénom</label>
		<input type="text" asp-for="LastName" id="Prénom" class="form-control" placeholder="Prénom" />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="DateNaissance" asp-for="Birthdate">Date Naissance</label>
		<input type="text" asp-for="Birthdate" id="DateNaissance" class="form-control" placeholder="Date" />
		<span asp-validation-for="Birthdate" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="genre">Je suis</label>
		@Html.RadioButtonFor(p => p.Gender, GenderEnum.Man)
		@Html.Label("Homme")
		@Html.RadioButtonFor(p => p.Gender, GenderEnum.Woman)
		@Html.Label("Femme")
		<br/>
		<span asp-validation-for="Gender" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="Ville" asp-for="City">Ville</label>
		<select asp-for="City">
			<option value="Rimouski">Rimouski</option>
			<option value="Montreal">Montréal</option>
			<option value="Quebec">Québec</option>
			<option value="Levis">Lévis</option>
			<option value="Riviere-du-Loup">Rivière-du-Loup</option>
		</select>
	</div>
	<br/>
	<div class="form-group">
		<button type="submit" value="Ajouter" class="btn btn-secondary" style="background-color :green">Ajouter</button>
		<button type="reset" onclick="location.href='@Url.Action("Index","Diagnostic")';" class="btn btn-secondary" style="background-color :red">Annuler</button>
	</div>
</form>
